%button {
    @include small_text;
    vertical-align: middle;
    background: $light-grey;
   padding: 1em 2em 0 2em;
    margin: 2em 0 2em 0;
    border-radius: 6px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-decoration: none;
   }
.button:hover {
   text-shadow: #1e4158 0 1px 0;
   background: $grey;
   color: #ffffff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   background: #65a9d7;
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }