/*Importing stuff from another sheets*/

@import 'colors';

@import 'a-tags';

@import 'mixins';

@import 'buttons';

/*header styling*/

header{
  display: flex;
  justify-content: flex-start;
}

/*Logo image styling*/

.vignette {
    padding: 0 0.7em 0 0.5em;
    margin: 0;
}
    

/*Logo styling*/
.logo_text_box {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                max-width: 300px;
             
                
                .logo_text{
                    @include logo-text
                    font-weight: bold;
                    color: lighten( $grey, 10% );
                    font-size: 300%;
                    padding:0;
                    margin:0;
                    }
}

                .poster_text{
                    @include small-text;
                    font-size: 140%;
                    color: black;
                    margin: 3% 0 0 0;
                    }
                
                p{
                    @include normal-text
                    }
       
            

/*Dividing line styling*/
.line{
    border-style: solid;
    border-color: $light-grey;
    border-width: 2px;
    margin:0;
}

/*menu styling*/
ul,
li {
  list-style: none;
}

.menu_items {
  padding: 1% 3% 1% 3%;
  background: $light-grey;
  margin: 0em 1em 0em 1em;
 }

header {
  display: flex;
  justify-content: flex-start;
}

/*Menu symbols (hamburger and cross)*/
 
.fa-times,
.fa-bars {
  color: $grey;
  font-size: 2em;
  padding: 0.5em;
}
/*Hiding checkbox*/

#nav-toggle {
  display: none;
}

/*Hiding checkbox*/
#nav-toggle,
.fa-times {
  display: none;
}

/*Making menu visible for mobile when checked*/
#nav-toggle:checked + #wrapper nav {
  display: block;
}
/*Hiding menu symbols when checked */
#nav-toggle:checked + #wrapper header .fa-bars {
  display: none;
}
/*Making menu symbols visible*/
#nav-toggle:checked + #wrapper header .fa-times {
  display: block;
}

/*Hiding menu by default for mobile*/

nav {
  display: none;
}

/*menu styling*/

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

nav ul a {
  @include small_text;
  text-align: center;
   color: black;
    display: block;
    text-align: center;
    padding: 0.2em;
    text-decoration: none;
}

/*Media Query for menu*/
@media all and (min-width: 630px) {
  
  header > label {
    display: none;
  }
  
  nav {
    display: block;
  }
  
  nav ul {
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}
  

/*Main area styling*/

section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding:1em, 2em, 1em, 2em;
    width: 100%;
    align-items: center;
}

/*Arrows styling*/
.fa-arrow-circle-left, 
.fa-arrow-circle-right{
    font-size: 3em;
    display: none;
    color:$light-grey;
    @media (min-width: 600px){
            display: block;
            }
}

/*Image and caption styling*/
     
    .flex-card{
        display:flex;
        flex-flow: column;
        padding:1em;
        Margin: 1em;
    }
        
            .card-foot{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                @include normal-text;
                }
  
                
                .button{
                    @extend %button;
                    padding:1em 2em 1em 2em;
                    margin-top:1em;
                    }



/*footer styling*/

footer {
    display:flex;
    justify-content: space-between;
    margin-top: 3%;
    margin:7px 0px 0px 0px;
    padding:2%;
    align-items: baseline;
    flex-flow: column;

/*Flexbox for retailer-taxt*/
    .retailer{
        display:flex;
        max-width: 600px;
        }
    
/*Text for retailers*/
    p.foot_text{
        @include small-text;
        color: gray;
        }

/*Flexbox for button*/
        
    .contact{
        display:flex;
        }
    
/*Flexbox for FontIcon*/
    .social_media{
        display:flex;
        padding-top:0;                   margin:0;
    }
}

/*Instagram icon styling*/
    .fa-instagram {
        padding: 1em;
        padding-bottom: 0;
        padding-top:0;
        font-size: 3em;
        color:gray;
        @media (max-width: 600px){           font-size: 2em;
        padding:0;
        margin:0;
        }
    }

/*Media query*/
@media (min-width: 600px){
   
    section{
        flex-flow: row;
        justify-content: space-around;
        }
    
        footer{
        flex-flow: row;
        }
    
    .contact{
        order:99;
        }
    
}
<<<<<<< HEAD
=======
        
        
        

>>>>>>> flex_order
        